<!DOCTYPE HTML>
<html lang="en">
<head>
<meta charset="UTF-8">
<title></title>
<meta name="viewport" content="width=320px,user-scalable=no">
<link rel="stylesheet" href="bootstrap.css" media="all" />
<link rel="stylesheet" href="main.css" media="all" />

<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>

</head>
<body style="margin: 0 auto;" >

<script>
//-----------------------------------
//COMMENT BUTTON NAVIGATION
$(document).ready(function(){
  $(".commentbutton").click(function(){
    alert("test")
    $(".commentform").toggle();
    $(".commentbutton").toggle();
  });
});

//-----------------------------------
//TOSAKA BUTTON NAVIGATION
$(document).ready(function(){
  $(".postbutton").click(function(){
    $(".toggle1:not(.postform)").hide();
    $(".postform").toggle();
    if($(".postform").is(":visible")){
      $(".posttextarea").focus();
    }
  });

  $(".ncbutton").click(function(){
    $(".toggle1:not(.ncform)").hide();
    $(".ncform").toggle();
  });

  $(".menubutton").click(function(){
    $(".toggle1:not(.menuform)").hide();
    $(".menuform").toggle();
  });

  $(".toggle1_close").click(function(){
    $(".toggle1").hide();
  });
});
</script>


<!-- NCFORM TMPL -->
<div class="ncform hide toggle1">
  <hr class="toumei">
  <div class="row">
    <div class="span10 offset1 white font14 toggle1_close">
      <div class="center">
      通知センター
      </div>
      <hr class="toumei">
    </div>
    <div class="span1">
      <img class="toggle1_close" src="./UPARROW.png">
    </div>
  </div>
  <div id="push_list">
    <div id="push"></div>
  </div>
</div>
<!-- NCFORM TMPL -->

<script id="push_template" type="text/x-jquery-tmpl">
    <div class="row push">
      <hr class="toumei">
      <div class="span3" >
        <img style="margin-left: 5px;" src="https://twimg0-a.akamaihd.net/profile_images/1208235715/201101061905_reasonably_small.png" class="rad4" width="48" height="48"><!-- FIXME -->
      </div>
      <div class="span9" style="margin-left: -13px;"><!-- FIXME -->
      {{if category=="friend"}}
        <div class="row">
         リンク申請：手嶋　守 承諾しますか？
        </div>
        <div class="row">
            <button class="span2 btn btn-primary small">YES</button>
            <button class="span2 btn small">NO</button>
        </div>
      {{/if}}
      {{if category=="message"}}
        <div class="link_message">
        名前、プロフィール写真、性別、ネットワーク、ユーザーID、友達リストなど、すべてのユーザーに公開してい
        </div>
      {{/if}}
      {{if category=="other"}}
        <div class="link_other">
        名前、プロフィール写真、性別、ネットワーク、ユーザーID、友達リストなど、すべてのユーザーに公開してい
        </div>
      {{/if}}
      </div>
    </div>
    <hr class="gray">
</script>
<script>
var push_list = [
  { Name: "The Red Violin", Director: "François Girard", category: "friend" },
  { Name: "Eyes Wide Shut", Director: "Stanley Kubrick" , category: "message" },
  { Name: "The Inheritance", Director: "Mauro Bolognini" , category: "other" },
  { Name: "The Red Violin", Director: "François Girard", category: "friend" },
  { Name: "Eyes Wide Shut", Director: "Stanley Kubrick" , category: "message" },
  { Name: "The Inheritance", Director: "Mauro Bolognini" , category: "other" },
];

  $("#push_template").tmpl(push_list).appendTo("#push");  

</script>

<!-- MENUFORM TMPL -->
<div class="menuform hide toggle1">
  <hr class="toumei">
  <div class="row">
    <div class="span10 offset1 center white font14 toggle1_close">
      MENU
      <hr class="toumei">
    </div>
    <div class="span1">
      <img class="toggle1_close" src="./UPARROW.png">
    </div>
  </div>

  <hr class="toumei">

  <div class="menu-middle row">
    <div class="span11 offset1">
      <a class="btn">Home</a>
      <a class="btn">Diary</a>
      <a class="btn">Community</a>
      <a class="btn">Community</a>
      <a class="btn">Logout</a>
      <a class="btn">Home</a>
      <a class="btn">Diary</a>
      <a class="btn">Logout</a>
      <a class="btn">Home</a>
      <a class="btn">Diary</a>
      <a class="btn">Community</a>
      <a class="btn">Logout</a>
    </div>
  </div>
  <hr class="toumei">
  <hr class="toumei">
  <img src="./SEPALATOR.png">
</div>
<!-- MENUFORM TMPL -->


<!-- POSTFORM TMPL -->
<div class="postform hide toggle1">
  <hr class="toumei">
  <div class="row">
    <div class="span10 offset1 center white font14 toggle1_close">
      投稿フォーム
      <hr class="toumei">
    </div>
    <div class="span1">
      <img class="toggle1_close" src="./UPARROW.png">
    </div>
  </div>
  <div class="row">
    <textarea class="posttextarea span12" rows="4" ></textarea>
  </div>
  <hr class="toumei">
  <div class="row">
    <button class="span10 offset1 btn small primary" >POST</button>
  </div>
  <hr class="toumei">
  <hr class="toumei">
  <hr class="toumei">
  <hr class="toumei">
  <hr class="toumei">
  <hr class="toumei">
  <hr class="toumei">
  <hr class="toumei">
  <hr class="toumei">
  <hr class="toumei">
  <hr class="toumei">
  <hr class="toumei">
  <hr class="toumei">
  <img src="./SEPALATOR.png">
</div>
<!-- POSTFORM TMPL -->


<!-- TOSAKA TMPL -->
<div id="slot_tosaka">
  <div class="row">
    <div class="span12">
      <div class="row">
        <div class="span4"> <img class="menubutton" src="./LOGO.png" alt="" /> </div>
        <div id="notification_center" class="span4 center">
          <img class="ncbutton" src="./NOTIFY_CENTER.png" alt="" />
          <span class="nc_icon1 label label-important">1</span>
          <span class="nc_icon2 label label-important">2</span>
          <span class="nc_icon3 label label-important">3</span>
        </div>
        <div class="span3 offset1"> <img class="postbutton" src="./POST.png" alt="" /> </div>
      </div>
    </div>
  </div>
</div>
<!-- TOSAKA TMPL -->



<!-- FACE TMPL -->
<div id="face" class="row">
  <div class="span2"> <img src="https://twimg0-a.akamaihd.net/profile_images/1208235715/201101061905_reasonably_small.png" class="rad4" width="48" height="48"> </div>
  <div class="span8">
    <hr class="toumei">
    <div class="row"><span class="face-name">手嶋　守</span></div>
    <hr class="toumei">
    <div class="row"><a href="#">@MamoruTejima</a></div>
  </div>
  <div class="span2 center"> <img src="./HomeIcon.png" height="48"> </div>
</div>
<hr class="toumei">
<!-- FACE TMPL -->

<div class="row">
  <div class="gadget_header span12"> M e m b e r I m a g e </div>
</div>

<div class="row">
  <div class="span12">
    <hr class="toumei">
    <img src="https://twimg0-a.akamaihd.net/profile_images/1208235715/201101061905_reasonably_small.png" class="rad10" width="312" height="312"> </div>
</div>
</div>



<!-- TIMELINE TMPL -->
<div class="row">
  <div class="gadget_header span12">Timeline (ハンバーガーレイアウト)</div>
</div>

<div class="timeline font10 row">
  <div class="span2"> <img src="https://twimg0-a.akamaihd.net/profile_images/1208235715/201101061905_reasonably_small.png" class="rad6" width="46" height="46"> </div>
  <div class="span10">
    <a href="#" class="screenmae">@MamoruTejima</a>まるまるもりもりまるまるもりもりまるまるもりもりまるまるもりもり>まるまるもりもりまるまるもりもりまるまるもりも
    <br>12分前 From Twitter
  </div>
</div>
<div class="comment font10 row">
  <div class="span10 offset2">
    <div class="row">
      <hr class="toumei2">
      <div class="span1"><img src="https://twimg0-a.akamaihd.net/profile_images/1208235715/201101061905_reasonably_small.png" class="rad6" width="23" height="23"> </div>
      <div class="span9"> まるまるもりもりまるまるもりもりまるまるもりもりまるまるもり>もりまるまるもりもり<br>
        10分前 From Twitter
      </div>
    </div>
  </div>
</div>

<div class="commentform row hide">
  <textarea class="commentarea span10 offset2" rows="3"></textarea>
  <button class="commentsubmit btn span10 offset2 small" style="height: 20px; padding: 2px;">投稿</button> <!--FIXME-->
</div>
<div class="row">
  <button class="commentbutton btn span10 offset2 small" style="height: 20px; padding: 2px;">コメントする</button> <!--FIXME-->

</div>
<!-- TIMELINE TMPL -->



<div class="row">
  <div class="gadget_header span12"> P r o f i l e </div>
</div>

<div class="row_profile row">
  <div class="span4"> スクリーンネーム </div>
  <div class="span8"> @MamoruTejima </div>
</div>
<div class="row_profile row">
  <div class="span4"> 生年月日 </div>
  <div class="span8"> 1979年4月22日 </div>
</div>
<div class="row_profile row">
  <div class="span4"> 出身地 </div>
  <div class="span8"> 東京都 </div>
</div>
<div class="row_profile row">
  <div class="span4"> 自己紹介 </div>
  <div class="span8"> まるまるもりもり         まるまるもりもり
    まるまるもりもり
    まるまるもりもり
    まるまるもりもり
    まるまるもりもり
    まるまるもりもり
    まるまるもりもり
    まるまるもりもり
    まるまるもりもり </div>
</div>

<!-- BEGIN TIMELINE GADGET -->

<div class="row">
  <div class="gadget_header span12"> F r i e n d  L i s t</div>
</div>
<hr class="toumei">
<div id="TMPLfriendListPH" class="row"></div>

<script id="TMPLfriendList" type="text/x-jquery-tmpl">
  <div class="span3">
    <div class="row_memberimg row"><div class="span3">
    <img src="${memberImage}" class="rad10" width="57" height="57">
    </div></div>
    <div class="row_membername font10 row"><div class="span3">
    ${memberName}
    </div></div>
  </div>
</script>

<script>
$.get(
  "opSMTAPIPlugin/web/test/friend/list.json",
  function(res){
    $( "#TMPLfriendList" ).tmpl( res.data ).appendTo( "#TMPLfriendListPH" );
  });
</script>

<!-- END TIMELINE GADGET -->

<div class="row">
  <div class="gadget_header span12">JavaScript Test </div>
</div>

<script>
  $(document).ready(function(){
    $(".b").click(function(){
      alert();
      $("#cqcall").alert("close");
    });
});
</script>


<div id="modal-from-dom" class="modal hide fade" style="width: 320px;">
  <div class="modal-header"> <a href="#" class="close">&times;</a>
    <h3>Modal Heading</h3>
  </div>
  <div class="modal-body">
    <p>One fine <br>
      <br>
      <br>
      body</p>
  </div>
  <div class="modal-footer"> <a href="#" class="btn primary">Primary</a> <a href="#" class="btn secondary">Secondary</a> </div>
</div>
<a class="btn" data-controls-modal="modal-from-dom" data-backdrop="static" >Launch Modal</a>

<hr class="toumei">


<div class="row">
  <div class="gadget_header span12">POST UI</div>
</div>

<hr class="toumei">
<div id="face" class="row">
  <div class="span2"><img src="https://twimg0-a.akamaihd.net/profile_images/1208235715/201101061905_reasonably_small.png" class="rad4" width="48" height="48"> </div>
  <div class="span3">
    <img src="./post_icon.png" alt="" />
  </div>
  <div class="span5">
    <div class="row"><span class="face-name">フットサル</span></div>
    <hr class="toumei">
    <div class="row"><a href="#">@TeamSagantosu</a></div>
  </div>
  <div class="span2"> <img src="https://twimg0-a.akamaihd.net/profile_images/1208235715/201101061905_reasonably_small.png" class="rad4" width="48" height="48"> </div>
</div>
<hr class="toumei">
<div class="row">
  <textarea class="span12" rows="3" >?</textarea>
</div>

<div class="row">
  <button class="span12 btn small primary" >POST</button>
</div>




<div class="row">
  <div class="gadget_header span12">SPEED MEMBER INFO</div>
</div>
<div id="face" class="row">
  <div class="span2"> <img src="https://twimg0-a.akamaihd.net/profile_images/1208235715/201101061905_reasonably_small.png" class="rad4" width="48" height="48"> </div>
  <div class="span8">
    <hr class="toumei">
    <div class="row"><span class="face-name">手嶋　守</span></div>
    <hr class="toumei">
    <div class="row"><a href="#">@MamoruTejima</a></div>
  </div>
  <div class="span2 center">&times; </div>
</div>
<div class="row">
  <div class="span2">HOME</div>
  <div class="span2">PM</div>
  <div class="span2">@@@</div>
  <div class="span2">LINK</div>
</div>

</body>
</html>
