#face .row { padding: 0px 0px 0px 4px; }
#face a { font-size: 14px; }
#face { height: 52px; background: #eeeeee; padding: 4px 0px 0px 0px; }
#tosaka { height: 34px; background: #555; }
.center { margin-left:auto; margin-right:auto; text-align:center; }
.debug { background: #aaaaaa; text-align: center; height: 32px; }
.face-name { font-size: 20px; }
.friendlistitem3 { height: 92px; text-align: center; background: #ccc; }
.friendlistitem4 { height: 69px; text-align: center; background: #ccc; }
.gadget_header { height: 20px; background: #333333; color: #ffffff; text-align: center; }
body { width: 320px; }
div#tosaka div { height: 100%; }
hr.toumei { margin: 0px; height: 4px; border-color : transparent; }
